  body {


            background-image: url("85f7772b28aa705b4bf949492ef674c6.jpg");    
            background-size: cover;
            
         }

   h1   {
            color: white;
            text-shadow: 1px 1px 2px black;
            font-family: arial;
            text-align: center;

         }

    img  {
            border: 60%;
            border: 5px solid whitesmoke;
            padding: 4px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
         }

    hr  { 

            border-top-color: whitesmoke;
            text-shadow: 2px black;
            text-align: center;
            width: 1200px;
         }

     h3  { 
            color: white;
            text-shadow: 1px 1px 2px black;
            font-family: arial;
            font-size: Large;
            font-style: italic;
            text-align: center;
            
         }

    h2   {
            color: white;
            text-shadow: 1px 1px 2px black;
            font-style: italic;
            font-family: arial;
            text-align: left;
         }

     h5  { 
            color: white;
            text-shadow: 1px 1px 2px black;
            font-size: 20px;
            font-family: arial;
            text-align: left;
            
        }

    h5  {
           
            color:white;
            text-shadow: 1px 1px 2px black;
            font-size: 20px;
            font-family: arial;
            
         }

    h3  {

           color: white;
           text-shadow: 1px 1px 2px black;
           font-size: 20px;
           font-family: arial;
        
        }

    h6  {

        color: white;
        text-shadow: 1px 1px 2px black;
        font-style: italic;
        font size: 15px;
        font-family: arial;
        text-align: center;
        }

